In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [65]:
df=pd.read_csv('concrete_data.csv')

In [66]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [67]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [68]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [69]:
X=df.drop(columns=['Strength'])
y=df['Strength']

In [70]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=90)

In [71]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
lr=LinearRegression()

In [72]:
lr.fit(X_train,y_train)

LinearRegression()

In [73]:
y_pred=lr.predict(X_test)
print('acc score',r2_score(y_test,y_pred))

acc score 0.574066071464593

In [74]:
from sklearn.preprocessing import PowerTransformer

In [75]:
pt_box_cox=PowerTransformer(method='yeo-johnson')

In [76]:
X_train.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
501,491.0,26.0,123.0,210.0,3.9,882.0,699.0,3
162,374.0,189.2,0.0,170.1,10.1,926.1,756.7,91
496,387.0,20.0,94.0,157.0,11.6,938.0,845.0,56
30,304.0,76.0,0.0,228.0,0.0,932.0,670.0,365
436,172.4,13.6,172.4,156.8,4.1,1006.3,856.4,28

In [77]:
X_train_new=X_train.drop(columns=['Superplasticizer','Blast Furnace Slag','Fly Ash'])
X_test_new=X_test.drop(columns=['Superplasticizer','Blast Furnace Slag','Fly Ash'])

In [78]:
X_train_new

     Cement  Water  Coarse Aggregate  Fine Aggregate  Age
501   491.0  210.0             882.0           699.0    3
162   374.0  170.1             926.1           756.7   91
496   387.0  157.0             938.0           845.0   56
30    304.0  228.0             932.0           670.0  365
436   172.4  156.8            1006.3           856.4   28
..      ...    ...               ...             ...  ...
570   295.8  185.7            1091.4           769.3   28
452   173.8  172.3            1007.2           746.6   56
679   212.0  203.5             973.4           750.0   28
671   236.0  192.0             972.6           749.1    7
669   288.0  192.0             932.0           717.8    3

[824 rows x 5 columns]

In [79]:
X_train_new.describe()

           Cement       Water  Coarse Aggregate  Fine Aggregate         Age
count  824.000000  824.000000        824.000000      824.000000  824.000000
mean   279.638714  181.375850        973.165170      773.858981   44.216019
std    102.867626   21.316125         77.722554       80.229106   60.392977
min    102.000000  121.800000        801.000000      594.000000    1.000000
25%    193.500000  164.900000        932.000000      734.000000    7.000000
50%    269.400000  185.000000        968.000000      780.000000   28.000000
75%    349.250000  192.000000       1032.750000      825.000000   56.000000
max    540.000000  247.000000       1145.000000      992.600000  365.000000

In [80]:
X_train_trans=pt_box_cox.fit_transform(X_train_new)
X_test_trans=pt_box_cox.fit(X_test_new)

AttributeError: module 'numpy' has no attribute 'warnings'